@font-face {
  font-family: nsm;
  src: url(./NotoSansMono-VariableFont_wdth,wght.ttf);
  src: url(./NotoSansMono-Medium.ttf);
}


.App {
  font-size: 18px;
  position: absolute;
  left: 50%;
  top: 50%;
  overflow: scroll;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  min-width: 75%;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}


.section{
  border-radius: 0.375rem;
  border: 1px solid lightgray;
  padding: 1.5rem !important;
  /*margin-bottom: 48px;*/
}

.concentration-test-text{
  text-align: left;
  font-size: 1rem;
  font-family: nsm;
  overflow: hidden;
}

/* Großes Dankeschön an Thomas */
.concentration-test-text span{
  padding-right: 0.5rem;
}

#test-input{
  min-height: 2rem;
}
.x_{
  min-height: 48px;
  min-width: 96px;
  display: inline-block!important;
  margin-left: 12px!important;
  margin-right: 12px!important;
}

.active{
  background-color: aliceblue;
}


.concentration-test-text-left{
  text-align: right;
  width: 50%;
  display: inline-block;
  max-width: none;
  white-space: nowrap;
}

.concentration-test-text-right{
  text-align: left;
  width: 50%;
  display: inline-block;
  max-width: none;
}

#nextActiveInputHighlighter{
  position: absolute;
  top: 5px;
  left: 50%;
  height: 4rem;
  width: 1rem;
  border: 1px solid red;
  border-radius: 4px;
  margin-left: -3px; /* Positioniert div mittig über Buchstabe*/
}