@font-face {
  font-family: nsm;
  src: url(./NotoSansMono-Medium.ttf);
}


.App {
  /*font-family: nsm;*/
  font-size: 18px;
  margin: 0;
  position: absolute;
  min-width: 75%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


.section{
  border-radius: 0.375rem;
  border: 1px solid lightgray;
  padding: 1.5rem !important;
  /*margin-bottom: 48px;*/
}

/*@import url('https://fontlibrary.org/face/dejavu-sans-mono');*/
.concentration-test-text{
  text-align: left;
  letter-spacing: 8px; /* Macht nur Buchstaben auseinander, ändert nichts an den Breitenunterschieden einzelner Zeichen */
  font-size: 1rem;
  font-family: nsm;
}

.active{
  background-color: aliceblue;
}